/* Importing Google Fonts with various weights and styles for Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Styling for the html element to center content and handle sizing and overflow */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 110vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

/*Background image styling*/
.action-lines {
  background: url(https://c402277.ssl.cf1.rackcdn.com/photos/14559/images/cropped/Web_Uporny_3_Panel2_motion_lines_opt.png);
  background-repeat: no-repeat;
  background-position: -500px -60px;
  background-size: cover;
}

/* Styling for the .box container */
.box {
  position: relative;
  width: 225px;
  height: 80px;
  cursor: pointer;
}

/* Styling for the contents inside the box */
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  border: 3px solid #000;
  background-color: lightpink;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: larger;
  transition: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}
/* changes the box-contents during click */
.box:active .box-contents {
  background-color: lightblue;
  box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.5);
}

/* Prevents user from highlighting text */
span {
  user-select: none;
}

.box-point {
  position: absolute;
  z-index: 3; /* Stack order to enable box-shadowing*/
  width: calc(100% / 3); /* Width set to one-third of its parent */
  height: calc(100% / 3); /* Height set to one-third of its parent */
}

/* Style for .box-contents when hovering over .box-point */
.box-point:hover ~ .box-contents { 
  border-radius: 10px;
  box-shadow: 10px 6px 1px 1px rgba(0, 0, 0, 1); /* Shadow effect */
  transform-origin: right top; /* Origin point for transformations */
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg); /* 3D rotation */
}

/* Positioning and visibility for each .box-point based on its child order */
.box-point:nth-child(1) {
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(3) {
  top: 0;
  right: 0;
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(6) {
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
  border-radius: 10px;
  opacity: 0;
}
.box-point:nth-child(8) {
  bottom: 0;
  right: 0;
  border-radius: 10px;
  opacity: 0;
}
/* Specific hover effects for each .box-point to create varied box-shadow effects */
.box-point:nth-child(1):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: 10px 6px 1px 1px rgba(0, 0, 0, 1);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.box-point:nth-child(2):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: 0 10px 1px rgba(0, 0, 0, 1);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.box-point:nth-child(3):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: -6px 8px 1px 4px rgba(0, 0, 0, 1);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.box-point:nth-child(4):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: 8px 5px 1px rgba(0, 0, 0, 1);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.box-point:nth-child(5):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: -6px 4px 1px rgba(0, 0, 0, 1);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.box-point:nth-child(6):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: 8px -4px 1px 2px rgba(0, 0, 0, 1);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.box-point:nth-child(7):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: 0 -10px 1px rgba(0, 0, 0, 1);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.box-point:nth-child(8):hover ~ .box-contents {
  border-radius: 10px;
  box-shadow: -10px -6px 1px 2px rgba(0, 0, 0, 1);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

.box::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 85px); /* Y-axis calculation for the highlight following the mouse */
  left: calc(var(--x, 0) * 1px - 85px);/* X-axis calculation for the highlight following the mouse */
  width: 175px;
  height: 175px;
  background: radial-gradient(white, #3984ff00 60%);
}

/* Changes the highlight effect when hovering over the box */
.box:hover::after {
  opacity: 0.4; /* Make the highlight more visible */
  filter: brightness(150%);  /* Increase brightness */
}
